/*CSS site da ETEC Horácio Augusto da Silveira*/

/*apoio para a estrutura da página 

http://jsfiddle.net/pranavcbalan/BGLwM/4/
*/

/*cores que devem ser utilizadas
Azul
    #21212d;
Amarelo
    #e69138;
*/
body{
    background-color: #c9c9ca;
    color: #111;
    font-family: Verdana, Arial, Tahoma, sans-serif;
    font-size: 18px;
   
}

/*teste h1
-Para verificar espaçamento em relação a posição fixa do menu 
-Substituir margin-top para uma div*/
h1{
  margin-top:100px;
}

#page {
  min-height: 100%;
  height: 100%;
  position: relative;
}

#header {
  display: block;
  margin-left: 120px;
  margin-right: auto;
  width: 50%;
  
  /* posicionamento 
  height: 150px;
  width: 100%;*/
  /* estilo */
  /*
  background: #590202;
  color: #f2f2f2;
  display: table;*/
}

/*INICIO DEFINICAO DO MENU PRINCIPAL*/
#menuprincipal ul {
   list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #21212d;
    position: fixed;
    width: 99%;
    margin-left:0;
	top: 0;
    /*position: sticky;
    position: -webkit-sticky;
    top: 0;*/
   
  }
  
 #menuprincipal ul li {
    float: left;
    
  }
  
  #menuprincipal ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  #menuprincipal ul li a:hover:not(.active) {
    background-color: #393955;
  }
  
  .active {
    background-color: #e69138;
  }
  /*FIM DA DEFINICAO MENU*/

  /*BLOCO DE TEXTO DA PAGINA*/
  #conteudo{
    /*position:absolute; */
    top:20%; 
    left:40%;
    width:78%; 
    height:75%; 
    border:none #c0c0c0 1px;
  }

  #footer {
    /* BASE CODE 
    position: absolute;*/
    width: 100%;
    bottom: 0;
    height: 150px;
    /* STYLING */
    background: #21212d;
    color: white;
    display: table;
  }

  /*INICIO DROPDOWN*/
  .dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }
  /*FIM DROPDOWN*/